{
    "parser": "babel-eslint",
    "env": {
        "amd": true,
        "browser": true
    },
    "plugins": [
        "react"
    ],
    "rules": {
        "max-len": [1, 120, 2, {
            "ignoreComments": true
        }],
        "react/display-name": [1, { "ignoreTranspilerName": true }]
        // "prop-types": [2]
    },
    "extends": ["eslint:recommended", "plugin:react/recommended"]
}